.footer {
  padding: 30px 120px 40px 120px;
  background-color: rgb(250, 250, 250);
  width: 100vw;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-column {
  width: 210px;
  line-height: 18px;
}

.footer-column__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-column__content {
  font-size: 11px;
  color: gray;
}

.footer__rights {
  font-size: 11px;
  color: gray;
}