

.bestAlcohol-title{
    font-size:  34px;
   text-align: center;
   font-weight:600 ;
   padding-top: 20px;;
}

.bestAlcohol-text{
    font-size: 20px;
    font-weight: 450;
    align: start;
    width:90%;
    display:inline-block;
}
.bestAlcohol-buttons{   
    width: 10%;
    display: inline-block;
}
.bestAlcohol__move{
    background-color: white ;
    color: rgb(117, 59, 252);
    border: 1px solid rgb(117, 59, 252);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    outline: none;
}
.bestAlcoholList{
    width:90%;
    height: 330px;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 20px;
}
.bestAlcoholList-box{
    display: inline-block;
    width:272px;
    height: 323.5px;
    border: 1px solid rgb(204,204,204);
    border-radius: 30px;
}
.bestAlcohol-mark{
    background-color: black;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    margin-left: 20px;
    margin-top: 3px;
}
.bestAlcohol-image img{
    display: inline-block;
    width: 90%;
    height: 280px;
    margin-left: 10px;/*가운데 정렬로 바꿔야함*/
    object-fit: cover;
}
.AlcoholList-text{
    font-size: 20px;
    font-weight: 450;
    align: start;
    margin-bottom: 20px;
}
.AlcoholSortList{
    padding-top: 20px;
}

.AlcoholSortlist-find input{
    background-color: rgb(117, 59, 252);
    opacity: 33%;
    width: 186px;
    height: 28px;
    border-radius: 7px;
    border: 0px solid ;
    outline: none; /*제대로 안되는것 같음*/
}
.AlcoholSortlist-keyword button{
    height: 28px;
    background-color: white;
    border:1px solid rgb(117, 59, 252);
    color:rgb(117, 59, 252);
    border-radius: 5px;
}

.AlcoholSortlist-sort select{
    height: 34px;
    width: 80px;
    border-radius: 5px;
    margin-right: 7px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    font-size: 12.5px;
}
.AlcoholList-list{
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.AlcoholList-card{
    padding-bottom: 50px;
    padding-right: 10px;
}
.AlcoholList-box{
    position: relative;
}
.AlcoholList-vendor{

    width: 31px;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    
    z-index: 1;
}
.AlcoholList-vendor img{
    width: 25px;
    height:20px;
    padding-bottom: 3px;
}
.AlcoholList-image{
    width: 255px;
    height: 255px;
    border: 0.5px solid rgb(204, 204, 204);
    border-radius: 15px;
    
}
.AlcoholList__like p{
    border: 1px solid gray;
    font-size: 15px;
    font-weight: 700;
    width: 50px;
    height: 20px;
    padding-top: 3px;;
    text-align: center;
    border-radius: 7px;
    bottom: 8px;
    right: 15px;
    position:absolute;  
    
}
.AlcoholList-image img{

    width: 250px;
    height: 250px;
    object-fit: cover;
    
}

.AlcoholList-info p{
    margin-top: 7px;
    margin-bottom: 7px;
}
.AlcoholList__name{
    font-size: 17px;
    font-weight: 800;
}
.AlcoholList__cost{
    font-size: 15px;
    font-weight:600;
}
.AlcoholList__level{
    font-size: 13px;
}
.AlcoholList-keyword button{
    height: 28px;
    background-color: white;
    border:1px solid rgb(117, 59, 252);
    color:rgb(117, 59, 252);
    border-radius: 5px;
}