.page {
  display: flex;
  justify-content: center;
  gap: 18px;
  font-size: 15px;
  font-weight: bolder;
}

.page__number--clicked {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-position: under;
}