
#container{
    padding: 100px 150px 50px 150px; /*상 우 하 좌*/
    width: 1500px;
    /* margin:auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alcohol-title{
    font-size: 34px;
    padding-bottom: 100px;
    text-align: center;
    font-weight:800 ;
}

.bestAlcohol-text{
    font-size: 20px;
    font-weight: 500;
    align-items: start;
    width:92%;
    display:inline-block;
}/* 주류 종류 title*/
.bestAlcohol-buttons{   
    width: 10%;
    display: inline-block;
}/*베스트 버튼 묶음*/
.bestAlcohol__leftmove, 
.bestAlcohol__rightmove{
    background-color: white ;
    color: rgb(117, 59, 252);
    border: 1px solid rgb(117, 59, 252);
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    outline: none;
}/* 베스트 움직임 버튼*/

.best-alcohol-list-wrap {
    display: flex;
    justify-content: center;
}

.bestAlcoholList{
    height: 350px;
    width: 1200px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}/*베스트 리스트 박스*/
.bestAlcoholList-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 33px;
    position: absolute;
    /* left: 40px; */
}/*베스트 리스트 ul*/
.bestAlcoholList-card{
    width: 272px;
    height: 323.5px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}/*베스트 리스트 하나의 카드 li*/
.bestAlcohol-image{
    position: absolute;
    width:272px;
    height: 323.5px;
    border: 0.5px solid var(--light-gray);
    margin-left: 10px;
    border-radius: 30px;
    
}/*베스트 리스트 카드 안 이미지*/
.bestAlcohol-mark{
    background-color: black;
    color: white;
    width: 50px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    margin-left: 20px;
    margin-top: 3px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}/*베스트 리스트 카드 안 베스트 마크*/

.AlcoholList-text{
    font-size: 20px;
    font-weight: 450;
    margin-bottom: 20px;
    margin-top: 20px;
}
.AlcoholSortList{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

}/*알콜 리스트 정렬에 관련된 기능 묶음*/
.AlcoholSortList-find {
    display: flex;
    align-items: center;
    background-color: rgba(117, 59, 252,0.33);
    height: 28px;
    border-radius: 7px;
}
.AlcoholSortList-find input{   
    background-color: transparent;
    width: 170px;
    height: 28px;
    border-radius: 7px;
    border: 0px solid ;
    padding:10px;
    outline: none;
}/*알콜 검색 창*/
.AlcoholSortList-find i{
    padding-top: 2px;
    width: 23px;
}
.AlcoholSortList-keyword{
    width: 70.5%;
    margin-left: 1%;
}/*알콜 키워드 묶음 */
.keyword-button {
    height: 28px;
    width: flex;
    background-color: white;
    border: 1px solid rgb(117, 59, 252);
    color:rgb(117, 59, 252);
    border-radius: 5px;
    cursor: pointer;
}/*알콜 키워드 버튼 */
.keyword-button--clicked{
    color:white; 
    background-color: var(--main-color);
}
.AlcoholSortList-sort select{
    height: 34px;
    width: flex;
    border-radius: 5px;
    margin-right: 7px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    font-size: 12.5px;
}/*알콜 키워드 정렬 셀렉트 박스*/


.AlcoholList-list{
    padding-top: 20px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: auto;
    gap: 53px;
} /*알콜 리스트 */

.AlcoholList-card{
   align-items: center;
}/*알콜 리스트 카드*/

.AlcoholList-box{
    position: relative;
}/*알콜 리스트 카드 안 박스*/
.AlcoholList-vendor{
    width: 31px;
    position: absolute;
    padding-top: 10px;
    padding-left: 15px;
    z-index: 1;
}/*알콜 리스트 카드안 편의점 박스*/
.AlcoholList-vendor img{
    width: 27px;
    height:22px;
    padding-bottom: 3px;
}/*알콜 리스트 편의점 박스 각각 편의점 마크*/
.AlcoholList-image{
    width: 255px;
    height: 255px;
    border: 0.5px solid rgb(204, 204, 204);
    border-radius: 15px;
}/*알콜 리스트 이미지 밖 div*/
.AlcoholList__like p{
    border: 1px solid gray;
    font-size: 15px;
    font-weight: 700;

    padding: 3px 3px 3px 3px;
    text-align: center;
    border-radius: 15px;
    bottom: 8px;
    right: 15px;
    position:absolute;  
    
}/*알콜 리스트 이미지 안 좋아요*/
.AlcoholList__like i{
    color: var(--heart-color);
}
.AlcoholList-image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}/*알콜 리스트 이미지 */

.AlcoholList-info p{
    margin-top: 7px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.AlcoholList__name{
    font-size: 17px;
    font-weight: 800;
}
.AlcoholList__cost{
    font-size: 15px;
    font-weight:600;
}
.AlcoholList__level{
    font-size: 13px;
}
.AlcoholList-keyword button{
    height: 28px;
    background-color: white;
    border:1px solid rgb(117, 59, 252);
    color:rgb(117, 59, 252);
    border-radius: 5px;
    
}
