@import url('./reset.css');

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

* {
  box-sizing: border-box;
}

header,
#container {
  font-family: 'NanumSquareRound',sans-serif;
}

footer {
  font-family: 'Noto Sans KR', sans-serif;
}