:root {
  --main-color: rgb(117, 59, 252);
  --yellow: rgb(252, 238, 33);
  --light-gray: rgb(204, 204, 204);
  --gray: rgb(153, 153, 153);
  --heart-color: rgb(251, 35, 101);
  --black: rgb(77, 77, 77);
  --error-color: rgb(209, 22, 22);
}