<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
    <link
            href="/image/components/pyeonsool-icon.svg"
            rel="icon"
            type="image/x-icon"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="../css/components/header.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/screens/listPage.css"/>
    <title>상품 목록</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/screens/myPage.css"/>
</head>
<body>
<div id="wrap">
    <header th:replace="~{fragment/header :: header}"></header>

    <div id="container">
        <main>
            <article>
                <p class="alcohol-title" id="alcoholTitle" ></p>
                <div class="best-group">
                    <span class="best-text">추천베스트</span>
                    <span clas="best-buttons">
                <button class="best-button__left"><</button>
                <button class="best-button__right">></button>
              </span>
                </div>
            </article>

            <article class="best-list">
                <div class="best-list__wrap">
                    <ul class="best-list__ul">
                        <li th:each="best:${bestList}">
                            <a href = "#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${best.alcoholId})}">
                                <div class="best-list__li">
                                <p class="best-list__mark">best</p>
                                        <img
                                                class="best-list__image"
                                                src="/image/alcohol/cass.png"
                                                th:src="${best.imagePath}"
                                        />

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </main>

        <section class="alcohol-list__total">
            <h2 class="alcohol-list__text">상품 목록</h2>
            <article class="alcohol-sort__list">
                <div class="sort-list">
                  <span class="sort-list__find">
                    <input type="text"/>
                    <i class="fas fa-search"></i>
                  </span>
                    <div class="sort-list__keyword">
                        <div class="sort-choice__keyword">
                            <input
                                    id="keyword-1"
                                    type="checkbox"
                                    value="sweet"
                                    class="sort-choice__keyword-input"
                            />
                            <label for="keyword-1" class="sort-choice__keyword-label">달콤함</label>
                        </div>

                        <div class="sort-choice__keyword">
                            <input
                                    id="keyword-2"
                                    type="checkbox"
                                    value="clear"
                                    class="sort-choice__keyword-input"
                            />
                            <label for="keyword-2" class="sort-choice__keyword-label">깔끔함</label>
                        </div>

                        <div class="sort-choice__keyword">
                            <input
                                    id="keyword-3"
                                    type="checkbox"
                                    value="cool"
                                    class="sort-choice__keyword-input"
                            />
                            <label for="keyword-3" class="sort-choice__keyword-label">시원함</label>
                        </div>

                        <div class="sort-choice__keyword">
                            <input
                                    id="keyword-4"
                                    type="checkbox"
                                    value="heavy"
                                    class="sort-choice__keyword-input"
                            />
                            <label for="keyword-4" class="sort-choice__keyword-label">무거움</label>
                        </div>

                        <div class="sort-choice__keyword">
                            <input
                                    id="keyword-5"
                                    type="checkbox"
                                    value="light"
                                    class="sort-choice__keyword-input"
                            />
                            <label for="keyword-5" class="sort-choice__keyword-label">가벼움</label>
                        </div>
                        <div class="sort-choice__keyword">
                            <input
                                    id="keyword-20"
                                    type="checkbox"
                                    value="more"
                                    class="sort-choice__keyword-input"
                            />
                            <label for="keyword-20" class="sort-choice__keyword-label">더보기</label>
                        </div>
                    </div>
                    <span class="sort-list__select">
                        <select class="vendor-List">
                          <option value="cu" data-image="/image/components/cu-logo.png">
                            cu
                          </option>
                          <option
                                  value="gs25"
                                  data-image="/image/components/cu-logo.png"
                          >
                            gs25
                          </option>
                          <option
                                  value="7-11"
                                  data-image="/image/components/cu-logo.png"
                          >
                            7-eleven
                          </option>
                </select>
                <select class="sort-option">
                  <option value="좋아요순">좋아요순</option>
                  <option value="낮은 가격순">낮은 가격순</option>
                  <option value="높은 가격순">높은 가격순</option>
                  <option value="낮은 도수순">낮은 도수순</option>
                  <option value="높은 도수순">높은 도수순</option>
                </select>
              </span>
            </div>
          </article>

          <article>
            <ul class="alcohol-list">
              <li th:each="type :${typeList}">
                <div class="alcohol-list__card" >
                  <div class="alcohol-card__vendor">
                      <th:block th:each="vendor : ${type.vendors}" th:switch="${vendor}">
                        <img class="vendor-mark__gs25"src="/image/components/gs25-logo.png" th:case="GS25"/>
                        <img class="vendor-mark__cu" src="/image/components/cu-logo.png" th:case="CU" />
                        <img class="vendor-mark__7eleven" src="/image/components/7eleven-logo.png" th:case="SEVEN_ELEVEN" />
                      </th:block>
                  </div>
                  <div class="alcohol-card__box">
                    <div class="alcohol-card__image">
                        <a href = "#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${type.id})}">
                            <img src="/image/alcohol/calsberg.jpg" th:src="${type.image}" alt="i"/>
                        </a>
                    </div>
                    <div class="alcohol-card__like">
                      <p><i class="fab fa-gratipay"></i><a th:text="${type.members}">></a>
                        </p>
                    </div>
                  </div>
                  <div class="alcohol-info">
                      <div class="alcohol-info__name"><p  th:text="${type.name}" >테라 500mL</p></div>
                    <p class="alcohol-info__cost" th:text="${#numbers.formatInteger(type.price,3,'COMMA')+'원'}">4,400원</p>
                    <p class="alcohol-info__abv" th:text="${#numbers.formatInteger(type.abv,1,'COMMA')+'도'}">도</p>
                  </div>
                    <div class="alcohol-info__keyword" >
                        <button th:each ="keyword:${type.keywords}" th:text="${keyword}">heavy</button>
                    </div>
                </div>
              </li>
            </ul>


              <div class="listpage__page">
                  <div class="page">
                      <a class="page__left" th:if="${!typeListPagination.isFirstBlock()}"
                         th:href ="|/alcohols?alcoholType=${typeList[0].type}&page=${typeListPagination.startPagePerBlock - typeListPagination.blockSize -1}&sort=${typeListPagination.sortField},${typeListPagination.sortDirection}|"
                      >&lt;</a>

                      <th:block
                              th:each="page : ${#numbers.sequence(typeListPagination.startPagePerBlock,
                    typeListPagination.isLastBlock() ? typeListPagination.totalPages : typeListPagination.endPagePerBlock)}">
                          <a th:href="|/alcohols?alcoholType=${typeList[0].type}&page=${page - 1}&sort=${typeListPagination.sortField},${typeListPagination.sortDirection}|" class="page__number"
                             th:text="${page}" th:classappend="${typeListPagination.currentPage == page} ? 'page__number--clicked'">1</a>
                      </th:block>

                      <a class="page__right" th:if="${!typeListPagination.isLastBlock()}"
                         th:href="|/alcohols?alcoholType=${typeList[0].type}&page=${typeListPagination.endPagePerBlock}&sort=${typeListPagination.sortField},${typeListPagination.sortDirection}|">&gt;</a>
                  </div>
              </div>
          </article>
        </section>

        <aside></aside>
    </div>

    <aside th:replace="~{fragment/keywordModal :: keywordModal}"></aside>

    <footer th:replace="~{fragment/footer :: footer}"></footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script
        src="https://kit.fontawesome.com/b17793764c.js"
        crossorigin="anonymous"
></script>
<script src="/js/header.js"></script>
<script src="/js/SlideController.js"></script>
<script src="/js/listPage.js"></script>
</body>
</html>
