<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="/image/components/pyeonsool-icon.svg"
            rel="icon"
            type="image/x-icon"
    />
    <title>메인 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/screens/mainPage.css"/>
</head>
<body>
<div id="wrap">

    <header th:replace="~{fragment/header :: header}"></header>

    <!-- 편술 소개 & 이미지 -->
    <div id="container">
        <main>
            <article class="introduction">
                <div class="introduction__intro-text">
                    <p class="introduction__p--header-text">
                        <span class="introduction__font-color">편</span>하게
                        <span class="introduction__font-color">술</span>먹자,
                        <span class="introduction__font-color">편술</span>
                    </p>
                    <p class="introduction__p--sub-text">
                        편의점 술, 너무 많아 고민된다면?!
                        <span class="introduction__font-color">편술</span>이
                        추천해드립니다!
                    </p>
                </div>
                <div class="introduction__intro-image">
                    <img
                            class="introduction__img--intro-image"
                            src="/image/components/pyeonsool-image.png"
                            alt="편술 이미지"
                    />
                </div>
            </article>
        </main>
        <section>
            <article class="recommend">
                <!-- 이달의 추천 & 당신의 편술 리스트 -->
                <div class="recommend__title">
                    <h2 class="recommend__month-title recommend__selected-title">
                        이달의 추천
                    </h2>
                    <h2 class="recommend__yours-title">당신의 편술</h2>
                </div>
                <!-- 슬라이딩 리스트 -->
                <!-- 이달의 추천 -->
                <div class="recommend__list recommend__list--month">
                    <div class="slide-button slide-button--left">&lt;</div>
                    <div class="slide-button slide-button--right">&gt;</div>
                    <div class="recommend__items-wrap">
                        <ul class="recommend__items">
                            <th:block>
                                <li th:each="monthAlcohol : ${monthAlcohols}" class="recommend__item">
                                    <a href="#"
                                       th:href="@{/alcohols/{alcoholId}(alcoholId = ${monthAlcohol.alcoholId})}">
                                        <img
                                                th:src="${monthAlcohol.imagePath}"
                                                src=""
                                                alt="alcohol"
                                                class="recommend__image"
                                        />
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="recommend__count-circles"></div>
                </div>
                <!-- 당신의 편술 -->
                <div class="recommend__list recommend__list--yours unvisible">
                    <div class="slide-button slide-button--left">&lt;</div>
                    <div class="slide-button slide-button--right">&gt;</div>

                    <div class="recommend__items-wrap">
                        <ul class="recommend__items">
                            <th:block th:if="${isLogin}" th:each="pyeonsool : ${pyeonsools}">
                                <li class="recommend__item">
                                    <a href="#"
                                       th:href="@{/alcohols/{alcoholId}(alcoholId = ${pyeonsool.alcoholId})}">
                                        <img
                                                src="/image/alcohol/beer/carlsberg.png"
                                                th:src="${pyeonsool.imagePath}"
                                                alt="alcohol"
                                                class="recommend__image"
                                        />
                                    </a>
                                </li>
                            </th:block>
                            <th:block th:unless="${isLogin}" th:each="num : ${#numbers.sequence(1,12)}">
                                <li class="recommend__item">
                                    <a href="#"
                                       th:href="@{/members/login}">
                                        <img
                                                src="/image/alcohol/beer/carlsberg.png"
                                                th:src="@{/image/alcohol/beer/carlsberg.png}"
                                                alt="alcohol"
                                                class="recommend__image blur"
                                        />
                                    </a>
                                </li>
                            </th:block>

                        </ul>
                    </div>

                    <div class="recommend__count-circles"></div>
                </div>
            </article>

            <article class="best-like">
                <!-- 베스트 Like 리스트 -->
                <div class="best-like__title">
                    <h1 class="best-like__h1--main-title">베스트 Like</h1>
                    <div class="best-like__sub-title">
                        <span class="best-like__category">
                            <h2 class="best-like__soju-title best-like__selected-title">소주</h2>
                            <h2 class="best-like__beer-title">맥주</h2>
                            <h2 class="best-like__wine-title">와인</h2>
                        </span>
                        <span class="best-like__see-all">
                            <!-- TODO alcohol.type값을 넘겨주어야 함 -->
                            <a href="/alcohols?alcoholType=SOJU" class="best-like__button--see-all">모두보기 &gt;</a>
                        </span>
                    </div>
                </div>
                <!-- 베스트 Like 리스트 소주 부분 -->
                <div class="best-like__list-soju">
                    <!-- TODO thymeleaf: 타입별로 데이터 받기 -->
                    <div class="best-like__list-first-row">
                        <th:block th:each="soju : ${sojus}" th:if="${sojuStat.index}<2">
                            <div class="best-like__item">
                                <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${soju.alcoholId})}">
                                    <div class="best-like__image-box">
                                        <img
                                                src="/image/alcohol/soju/chamisul.png"
                                                th:src="${soju.imagePath}"
                                                alt=""
                                                class="best-like__image"
                                        >
                                    </div>
                                </a>
                                <div class="best-like__alcohol-info">
                                    <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${soju.alcoholId})}">
                                        <div class="best-like__alcohol-name" th:text="${soju.name}">
                                        </div>
                                    </a>
                                    <div class="best-like__alcohol-price"
                                         th:text="${#numbers.formatInteger(soju.price,3,'COMMA')+'원'}"></div>
                                    <div class="best-like__alcohol-abv" th:text="${soju.abv}+'도'"></div>
                                    <div class="best-like__alcohol-like">
                                        <img class="best-like__alcohol-like-image"
                                             src="/image/components/heart-circle.png">
                                        <!--좋아요 수-->
                                        <span class="best-like__alcohol-like-count"
                                              th:text="${#numbers.formatInteger(soju.likeCount,1)}">1732</span>
                                    </div>
                                    <div class="best-like__alcohol-tag">
                                        <div class="best-like__alcohol-tag-box"
                                             th:each="keyword : ${soju.keywords}"
                                             th:if="${keywordStat.index}<3"
                                        >
                                            <span class="best-like__alcohol-tag-name" th:text="${keyword}">시원함</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <!--second-row-->
                    <div class="best-like__list-second-row">
                        <th:block th:each="soju : ${sojus}" th:if="${sojuStat.index}>1">
                            <div class="best-like__item">
                                <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${soju.alcoholId})}">
                                    <div class="best-like__image-box">
                                        <img
                                                src="/image/alcohol/soju/chamisul.png"
                                                th:src="${soju.imagePath}"
                                                alt=""
                                                class="best-like__image"
                                        >
                                    </div>
                                </a>
                                <div class="best-like__alcohol-info">
                                    <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${soju.alcoholId})}">
                                        <div class="best-like__alcohol-name" th:text="${soju.name}">
                                        </div>
                                    </a>
                                    <div class="best-like__alcohol-price"
                                         th:text="${#numbers.formatInteger(soju.price,3,'COMMA')+'원'}"></div>
                                    <div class="best-like__alcohol-abv" th:text="${soju.abv}+'도'"></div>
                                    <div class="best-like__alcohol-like">
                                        <img class="best-like__alcohol-like-image"
                                             src="/image/components/heart-circle.png">
                                        <!--좋아요 수-->
                                        <span class="best-like__alcohol-like-count"
                                              th:text="${#numbers.formatInteger(soju.likeCount,1)}">1732</span>
                                    </div>
                                    <div class="best-like__alcohol-tag">
                                        <div class="best-like__alcohol-tag-box"
                                             th:each="keyword : ${soju.keywords}"
                                             th:if="${keywordStat.index}<3"
                                        >
                                            <span class="best-like__alcohol-tag-name" th:text="${keyword}">시원함</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <!--베스트 Like 리스트 맥주 부분-->
                <div class="best-like__list-beer unvisible">
                    <div class="best-like__list-first-row">
                        <th:block th:each="beer : ${beers}" th:if="${beerStat.index}<2">
                            <div class="best-like__item">
                                <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${beer.alcoholId})}">
                                    <div class="best-like__image-box">
                                        <img
                                                src="/image/alcohol/beer/guinness-draught.png"
                                                th:src="${beer.imagePath}"
                                                alt=""
                                                class="best-like__image"
                                        >
                                    </div>
                                </a>
                                <div class="best-like__alcohol-info">
                                    <div>
                                        <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${beer.alcoholId})}">
                                            <div class="best-like__alcohol-name" th:text="${beer.name}">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="best-like__alcohol-price"
                                         th:text="${#numbers.formatInteger(beer.price,3,'COMMA')+'원'}"></div>
                                    <div class="best-like__alcohol-abv" th:text="${beer.abv}+'도'"></div>
                                    <div class="best-like__alcohol-like">
                                        <img class="best-like__alcohol-like-image"
                                             src="/image/components/heart-circle.png">
                                        <span class="best-like__alcohol-like-count"
                                              th:text="${#numbers.formatInteger(beer.likeCount,1)}">1732</span>
                                    </div>
                                    <div class="best-like__alcohol-tag">
                                        <div class="best-like__alcohol-tag-box"
                                             th:each="keyword : ${beer.keywords}"
                                             th:if="${keywordStat.index}<3"
                                        >
                                            <span class="best-like__alcohol-tag-name" th:text="${keyword}">시원함</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <!--second-row-->
                    <div class="best-like__list-second-row">
                        <th:block th:each="beer : ${beers}" th:if="${beerStat.index}>1">
                            <div class="best-like__item">
                                <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${beer.alcoholId})}">
                                    <div class="best-like__image-box">
                                        <img
                                                src="/image/alcohol/beer/guinness-draught.png"
                                                th:src="${beer.imagePath}"
                                                alt=""
                                                class="best-like__image"
                                        >
                                    </div>
                                </a>
                                <div class="best-like__alcohol-info">
                                    <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${beer.alcoholId})}">
                                        <div class="best-like__alcohol-name" th:text="${beer.name}">
                                        </div>
                                    </a>
                                    <div class="best-like__alcohol-price"
                                         th:text="${#numbers.formatInteger(beer.price,3,'COMMA')+'원'}"></div>
                                    <div class="best-like__alcohol-abv" th:text="${beer.abv}+'도'"></div>
                                    <div class="best-like__alcohol-like">
                                        <img class="best-like__alcohol-like-image"
                                             src="/image/components/heart-circle.png">
                                        <!--좋아요 수-->
                                        <span class="best-like__alcohol-like-count"
                                              th:text="${#numbers.formatInteger(beer.likeCount,1)}">1732</span>
                                    </div>
                                    <div class="best-like__alcohol-tag">
                                        <div class="best-like__alcohol-tag-box"
                                             th:each="keyword : ${beer.keywords}"
                                             th:if="${keywordStat.index}<3"
                                        >
                                            <span class="best-like__alcohol-tag-name" th:text="${keyword}">시원함</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <!--베스트 Like 리스트 와인 부분-->
                <div class="best-like__list-wine unvisible">
                    <div class="best-like__list-first-row">
                        <th:block th:each="wine : ${wines}" th:if="${wineStat.index}<2">
                            <div class="best-like__item">
                                <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${wine.alcoholId})}">
                                    <div class="best-like__image-box">
                                        <img
                                                src="/image/alcohol/wine/babich.png"
                                                th:src="${wine.imagePath}"
                                                alt=""
                                                class="best-like__image"
                                        >
                                    </div>
                                </a>
                                <div class="best-like__alcohol-info">
                                    <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${wine.alcoholId})}">
                                        <div class="best-like__alcohol-name" th:text="${wine.name}">
                                        </div>
                                    </a>
                                    <div class="best-like__alcohol-price"
                                         th:text="${#numbers.formatInteger(wine.price,3,'COMMA')+'원'}"></div>
                                    <div class="best-like__alcohol-abv" th:text="${wine.abv}+'도'"></div>
                                    <div class="best-like__alcohol-like">
                                        <img class="best-like__alcohol-like-image"
                                             src="/image/components/heart-circle.png">
                                        <!--좋아요 수-->
                                        <span class="best-like__alcohol-like-count"
                                              th:text="${#numbers.formatInteger(wine.likeCount,1)}">1732</span>
                                    </div>
                                    <div class="best-like__alcohol-tag">
                                        <div class="best-like__alcohol-tag-box"
                                             th:each="keyword : ${wine.keywords}"
                                             th:if="${keywordStat.index}<3"
                                        >
                                            <span class="best-like__alcohol-tag-name" th:text="${keyword}">시원함</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <!--second-row-->
                    <div class="best-like__list-second-row">
                        <th:block th:each="wine : ${wines}" th:if="${wineStat.index}>1">
                            <div class="best-like__item">
                                <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${wine.alcoholId})}">
                                    <div class="best-like__image-box">
                                        <img
                                                src="/image/alcohol/wine/babich.png"
                                                th:src="${wine.imagePath}"
                                                alt=""
                                                class="best-like__image"
                                        >
                                    </div>
                                </a>
                                <div class="best-like__alcohol-info">
                                    <a href="#" th:href="@{/alcohols/{alcoholId}(alcoholId = ${wine.alcoholId})}">
                                        <div class="best-like__alcohol-name" th:text="${wine.name}">
                                        </div>
                                    </a>
                                    <div class="best-like__alcohol-price"
                                         th:text="${#numbers.formatInteger(wine.price,3,'COMMA')+'원'}"></div>
                                    <div class="best-like__alcohol-abv" th:text="${wine.abv}+'도'"></div>
                                    <div class="best-like__alcohol-like">
                                        <img class="best-like__alcohol-like-image"
                                             src="/image/components/heart-circle.png">
                                        <!--좋아요 수-->
                                        <span class="best-like__alcohol-like-count"
                                              th:text="${#numbers.formatInteger(wine.likeCount,1)}">1732</span>
                                    </div>
                                    <div class="best-like__alcohol-tag">
                                        <div class="best-like__alcohol-tag-box"
                                             th:each="keyword : ${wine.keywords}"
                                             th:if="${keywordStat.index}<3"
                                        >
                                            <span class="best-like__alcohol-tag-name" th:text="${keyword}">시원함</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <aside th:replace="~{fragment/keywordModal :: keywordModal}"></aside>

    <footer th:replace="~{fragment/footer :: footer}"></footer>

</div>
<script
        src="https://kit.fontawesome.com/b17793764c.js"
        crossorigin="anonymous"
></script>
<script src="/js/header.js"></script>
<script src="/js/SlideController.js"></script>
<script src="/js/mainPage.js"></script>
</body>
</html>
