<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/image/components/pyeonsool-icon.svg"
      rel="icon"
      type="image/x-icon"
    />
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/screens/signUp.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="container">
        <main>
          <article class="sign-up">
            <h1 class="sign-up__title">
              <img
                class="sign-up__logo"
                src="/image/components/pyeonsool-logo.svg"
                alt="pyeonsool-logo"
                onclick="location.href='/'"/>
            </h1>

            <form action="" method="post" class="sign-up__form" th:object="${memberSaveForm}">
              <div class="sign-up__nickname-wrap">
                <h2 class="sign-up__nickname">닉네임</h2>

                <input
                  type="text"
                  placeholder="닉네임"
                  class="sign-up__nickname-input"
                  required
                  maxlength="20"
                  th:field="*{nickname}"
                />
              </div>

              <div class="sign-up__id-wrap">
                <h2 class="sign-up__id">아이디</h2>

                <input
                  type="text"
                  placeholder="아이디"
                  class="sign-up__id-input"
                  required
                  maxlength="20"
                  th:field="*{userId}"
                />
              </div>

              <div class="sign-up__password-wrap">
                <h2 class="sign-up__password">비밀번호</h2>

                <input
                  type="password"
                  placeholder="비밀번호"
                  class="sign-up__password-input"
                  required
                  minlength="4"
                  maxlength="20"
                  th:field="*{password}"
                />
              </div>

              <div class="sign-up__password-confirm-wrap">
                <h2 class="sign-up__password-confirm">비밀번호 확인</h2>

                <input
                  type="password"
                  placeholder="비밀번호 확인"
                  class="sign-up__password-confirm-input"
                  required
                  maxlength="20"
                />

                <div class="errors unvisible">
                  <span class="error">비밀번호가 일치하지 않습니다.</span>
                </div>
              </div>

              <div class="sign-up__phone-number-wrap">
                <h2 class="sign-up__phone-number">전화번호</h2>

                <input
                  type="number"
                  placeholder="전화번호"
                  class="sign-up__phone-number-input"
                  required
                  maxlength="14"
                  th:field="*{phoneNumber}"
                />
              </div>

              <input type="button" value="회원가입" class="sign-up__submit" />

              <div class="modal unvisible">
                <div class="keyword-choice">
                  <div class="keyword-choice__title">
                    <img
                      src="/image/components/pyeonsool-logo.svg"
                      alt="편술"
                      class="keyword-choice__logo"
                    />

                    <span class="keyword-choice__title-text"
                      >에 오신 것을 환영합니다</span
                    >
                  </div>

                  <div class="keyword-choice__description">
                    <span>당신만을 위한 편술,</span>
                    <span
                      >본인의 취향을
                      <span class="keyword-choice__choice-count">3가지</span>
                      선택해주세요</span
                    >
                  </div>

                  <div class="keyword-choice__keywords">
                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-1"
                        type="checkbox"
                        value="sweet"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-1"
                        class="keyword-choice__keyword-label"
                        >달콤함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-2"
                        type="checkbox"
                        value="clear"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-2"
                        class="keyword-choice__keyword-label"
                        >깥끔함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-3"
                        type="checkbox"
                        value="cool"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-3"
                        class="keyword-choice__keyword-label"
                        >청량함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-4"
                        type="checkbox"
                        value="heavy"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-4"
                        class="keyword-choice__keyword-label"
                        >무거움</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-5"
                        type="checkbox"
                        value="light"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-5"
                        class="keyword-choice__keyword-label"
                        >가벼움</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-6"
                        type="checkbox"
                        value="nutty"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-6"
                        class="keyword-choice__keyword-label"
                        >고소함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-7"
                        type="checkbox"
                        value="fresh"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-7"
                        class="keyword-choice__keyword-label"
                        >상큼함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-8"
                        type="checkbox"
                        value="flower"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-8"
                        class="keyword-choice__keyword-label"
                        >꽃향</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-9"
                        type="checkbox"
                        value="bitter"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-9"
                        class="keyword-choice__keyword-label"
                        >쌉싸름함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-10"
                        type="checkbox"
                        value="unique"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-10"
                        class="keyword-choice__keyword-label"
                        >독특함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-11"
                        type="checkbox"
                        value="strong"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-11"
                        class="keyword-choice__keyword-label"
                        >도수 독함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-12"
                        type="checkbox"
                        value="middle"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-12"
                        class="keyword-choice__keyword-label"
                        >도수 중간</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-13"
                        type="checkbox"
                        value="mild"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-13"
                        class="keyword-choice__keyword-label"
                        >도수 순함</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-14"
                        type="checkbox"
                        value="white"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-14"
                        class="keyword-choice__keyword-label"
                        >화이트</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-15"
                        type="checkbox"
                        value="red"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-15"
                        class="keyword-choice__keyword-label"
                        >레드</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-16"
                        type="checkbox"
                        value="astringent"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-16"
                        class="keyword-choice__keyword-label"
                        >떫음</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-17"
                        type="checkbox"
                        value="fruit"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-17"
                        class="keyword-choice__keyword-label"
                        >과일향</label
                      >
                    </div>

                    <div class="keyword-choice__keyword">
                      <input
                        id="keyword-18"
                        type="checkbox"
                        value="nonAlcoholic"
                        name="keywords"
                        class="keyword-choice__keyword-input"
                      />
                      <label
                        for="keyword-18"
                        class="keyword-choice__keyword-label"
                        >무알콜</label
                      >
                    </div>
                  </div>

                  <input
                    type="submit"
                    value="확인"
                    class="keyword-choice__confirm"
                  />
                </div>
              </div>
            </form>

            <div class="sign-up__confirm-account">
              <span class="sign-up__account-question"
                >이미 계정이 있으신가요?</span
              >

              <a href="/members/login" class="sign-up__sign-in-link">로그인</a>
            </div>
          </article>
        </main>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/b17793764c.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/signUpPage.js"></script>
  </body>
</html>
